<a href="https://colab.research.google.com/github/ahassanzadeh/CarPricePrediction/blob/main/2_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os 
os.chdir('/content/drive/MyDrive/Job Interview /Companies/Cox')

In [2]:
!pwd

/content/drive/MyDrive/Job Interview /Companies/Cox

In [3]:
import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
cars = pd.read_excel("Interview_Data.xlsx")
cars.head()

   Transaction ID  VEHICLE ID  ...    FUEL  DRIVETRAIN
0         5674384       25169  ...  Petrol         4x2
1         6074511        3204  ...  Petrol         4x2
2         6120557       84433  ...  Petrol         4x2
3         6048675        3205  ...  Petrol         4x2
4         5582987       18369  ...  Petrol         4x2

[5 rows x 21 columns]

# **1-Data Processing**

In [5]:
cars.corr()

                 Transaction ID  VEHICLE ID  ...      MSRP    WEIGHT
Transaction ID         1.000000    0.387376  ...  0.235076  0.115782
VEHICLE ID             0.387376    1.000000  ...  0.180560  0.103283
ODOMETER (KM)         -0.049753   -0.248430  ... -0.261680 -0.128221
SOLD PRICE             0.316206    0.259347  ...  0.852511  0.577164
CONDITION GRADE       -0.011793   -0.081386  ... -0.045273  0.042863
MODEL YEAR             0.623820    0.463855  ...  0.166129  0.114504
MSRP                   0.235076    0.180560  ...  1.000000  0.611383
WEIGHT                 0.115782    0.103283  ...  0.611383  1.000000

[8 rows x 8 columns]

In [6]:
# First removing the columns I do not need  
new_cars = cars.drop(['Transaction ID', 'VEHICLE ID', 'VEHICLETYPE'], axis = 1)
new_cars.set_index('SOLD DATE')

            ODOMETER (KM)  SOLD PRICE  ...    FUEL DRIVETRAIN
SOLD DATE                              ...
2020-06-19          18489       40100  ...  Petrol        4x2
2020-06-25          18908       47000  ...  Petrol        4x2
2020-09-17          18913       64000  ...  Petrol        4x2
2020-06-18          19012       43500  ...  Petrol        4x2
2020-05-28          69652       14250  ...  Petrol        4x2
...                   ...         ...  ...     ...        ...
2020-08-20         109912       14250  ...  Petrol        4x2
2020-08-20         109925       15250  ...  Petrol        4x2
2020-03-12         110005       13000  ...  Petrol        4x2
2020-05-28         110224       12500  ...  Petrol        4x2
2021-03-16         110593       16700  ...  Petrol        4x2

[11135 rows x 17 columns]

# Feature Engineering (Deriving new features) for categorical data 

I used two main encoding techniques for catergorial data 
 - Ordinal Encoding 
 - One-hot Encoding

In [7]:
#Encode DriveTrain with one-hot encoding
# initiate new columns for Allwheel and frontwheel drive 
new_cars['AllWheel'] = new_cars['CONDITION GRADE']
new_cars['FrontWheel'] = new_cars['CONDITION GRADE']

# onehot the DriveTrain to AllWheels/FrontWheels

for i in range(len(new_cars['DRIVETRAIN'])): #array(['4x2', '4x4'], dtype=object)
  if new_cars['DRIVETRAIN'][i] == '4x2':
    new_cars['AllWheel'][i] = 0
    new_cars['FrontWheel'][i] = 1
  else:
    new_cars['AllWheel'][i] = 1
    new_cars['FrontWheel'][i] = 0

In [8]:
#Encode petrol and diesel fuel with one-hot encoding 
new_cars['Petrol'] = new_cars['CONDITION GRADE']
new_cars['Diesel'] = new_cars['CONDITION GRADE']
# now onehot code two main fuel 'Petrol', 'Diesel'
for i in range(len(new_cars['FUEL'])): #array(['Petrol', 'Diesel'], dtype=object)
  if new_cars['FUEL'][i] == 'Petrol':
    new_cars['Petrol'][i] = 1
    new_cars['Diesel'][i] = 0
  else:
    new_cars['Petrol'][i] = 0
    new_cars['Diesel'][i] = 1

In [9]:
# Ordinal encoding for Conutry Name sorted by mean price of MSRP
new_cars['Country'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['COUNTRYOFORIGIN_ADJ'])):
  if new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'India':
    new_cars['Country'][i] = 1
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Mexico':
    new_cars['Country'][i] = 2
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Korea':
    new_cars['Country'][i] = 3
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Great Britain':
    new_cars['Country'][i] = 4
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Spain':
    new_cars['Country'][i] = 5
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Japan':
    new_cars['Country'][i] = 6
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Czech Republic':
    new_cars['Country'][i] = 7
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Canada':
    new_cars['Country'][i] = 8
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Thailand':
    new_cars['Country'][i] = 9
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Germany':
    new_cars['Country'][i] = 10
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'USA':
    new_cars['Country'][i] = 11
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'South Africa':
    new_cars['Country'][i] = 12
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Slovakia':
    new_cars['Country'][i] = 13
  elif new_cars['COUNTRYOFORIGIN_ADJ'][i] == 'Austria':
    new_cars['Country'][i] = 14

In [10]:
# Encoding the Engine Data with one-hot encoding 
#initlizing the columns 
new_cars['ENGINE SIZE'] = new_cars['CONDITION GRADE'] 
new_cars['ENGINE FORM'] = new_cars['CONDITION GRADE'] 
new_cars['ENGINE Type'] = new_cars['CONDITION GRADE'] 
new_cars['ENGINE NUMBER'] = new_cars['CONDITION GRADE']
new_cars['ENGINE CLASS'] = new_cars['CONDITION GRADE'] 

# spliting the ENGINE column to 5 columns 
for i in range(len(new_cars['ENGINE'])): 
  val = new_cars['ENGINE'][i].split()
  if len(val) == 6:
    new_cars['ENGINE SIZE'][i] = val[0][:-1]
    new_cars['ENGINE FORM'][i] = val[1]
    new_cars['ENGINE Type'][i] = val[2]
    new_cars['ENGINE NUMBER'][i] = val[3][0]
    new_cars['ENGINE CLASS'][i] = val[4]
  elif len(val) == 5:
    new_cars['ENGINE SIZE'][i] = val[0][:-1]
    new_cars['ENGINE FORM'][i] = val[1]
    new_cars['ENGINE Type'][i] = val[2]
    new_cars['ENGINE NUMBER'][i] = val[3][0]
    new_cars['ENGINE CLASS'][i] = val[4]
  elif len(val) == 4:
    new_cars['ENGINE SIZE'][i] = val[0][:-1]
    new_cars['ENGINE FORM'][i] = val[1]
    new_cars['ENGINE Type'][i] = val[2]
    new_cars['ENGINE NUMBER'][i] = val[3][0]
    new_cars['ENGINE CLASS'][i] = 0
  else:
    new_cars['ENGINE SIZE'][i] = val[0][:-1]
    new_cars['ENGINE FORM'][i] = 0
    new_cars['ENGINE Type'][i] = 0
    new_cars['ENGINE NUMBER'][i] = 0
    new_cars['ENGINE CLASS'][i] = 0

In [11]:
# Embedding the new 5 Engine Columns 
print(new_cars['ENGINE SIZE'].unique()) # [1.4 1.5 2.0 1.6 2.2 2.8 2.5 3.5 3.2 1.0 3.0 3.6 1.8 2.4 1.3 5.6 4.0 2.9 2.1 4.4 1.7 1.2 'Electri' '1.4' '2.0' '3.5' '2.2' '3.6' '2.5' '3.2' '1.6'
 #'2.8' '1.5' '3.0' '2.4' '1.0' '1.2' '4.4' '5.6' '1.3' '1.8' '4.0' '2.1' '2.9']
print(new_cars['ENGINE FORM'].unique()) # ['In-Line' 'V' 0] 
print(new_cars['ENGINE Type'].unique()) # ['Turbo' '4-cyl' '6-cyl' 'Supercharger' '8-cyl' '3-cyl' 0]
print(new_cars['ENGINE NUMBER'].unique())  # [4.0 'U' '4' '5' '3' '6' 'P' '8' 0]
print(new_cars['ENGINE CLASS'].unique()) # ['Premium' 'Diesel' 0 'Unleaded' 'Electric']

[1.4 1.5 2.0 1.6 2.2 2.8 2.5 3.5 3.2 1.0 3.0 3.6 1.8 2.4 1.3 5.6 4.0 2.9
 2.1 4.4 1.7 1.2 'Electri' '1.4' '2.0' '3.5' '2.2' '3.6' '2.5' '3.2' '1.6'
 '2.8' '1.5' '3.0' '2.4' '1.0' '1.2' '4.4' '5.6' '1.3' '1.8' '4.0' '2.1'
 '2.9']
['In-Line' 'V' 0]
['Turbo' '4-cyl' '6-cyl' 'Supercharger' '8-cyl' '3-cyl' 0]
[4.0 'U' '4' '5' '3' '6' 'P' '8' 0]
['Premium' 'Diesel' 0 'Unleaded' 'Electric']

In [12]:
#Encoding the Engine Form, Type with one-hot enciding
new_cars['In-Line'] = new_cars['CONDITION GRADE']
new_cars['V-Shape'] = new_cars['CONDITION GRADE']
for i in range(len(new_cars['ENGINE FORM'])):
  if new_cars['ENGINE FORM'][i] == 'In-Line':
    new_cars['In-Line'][i] = 1 
    new_cars['V-Shape'][i] = 0
  elif new_cars['ENGINE FORM'][i] == 'V':
    new_cars['In-Line'][i] = 0
    new_cars['V-Shape'][i] = 1
  else:
    new_cars['In-Line'][i] = 0
    new_cars['V-Shape'][i] = 0

# One-hot the Engine Type 
new_cars['Turbo'] = new_cars['CONDITION GRADE']
new_cars['Supercharger'] = new_cars['CONDITION GRADE']


for i in range(len(new_cars['ENGINE Type'])):
  if new_cars['ENGINE Type'][i] == 'Turbo':
    new_cars['Turbo'][i] = 1
    new_cars['Supercharger'][i] = 0
  elif new_cars['ENGINE Type'][i] == 'Supercharger':
    new_cars['Turbo'][i] = 0
    new_cars['Supercharger'][i] = 1
  else:
    new_cars['Turbo'][i] = 0
    new_cars['Supercharger'][i] = 0

new_cars['regular'] = new_cars['CONDITION GRADE']
new_cars['Premium'] = new_cars['CONDITION GRADE']
new_cars['Cylinders'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['ENGINE NUMBER'])):
  if (new_cars['ENGINE CLASS'][i] == 'Premium') or (new_cars['ENGINE NUMBER'][i] == 'P'):
    new_cars['regular'][i] = 0 
    new_cars['Premium'][i] = 1
    if (new_cars['ENGINE NUMBER'][i] == 'P'):
      new_cars['Cylinders'][i] = int(new_cars['ENGINE Type'][i][0])
    else:
      new_cars['Cylinders'][i] = int(new_cars['ENGINE NUMBER'][i])
  else: 
    new_cars['regular'][i] = 1
    new_cars['Premium'][i] = 0
    new_cars['Cylinders'][i] = int(new_cars['ENGINE NUMBER'][0])

In [13]:
# Encoding BodyType, SegmentName, SubSegmentname 
print(new_cars['BODYTYPE'].unique())
print(new_cars['SEGMENTNAME'].unique())
print(new_cars['SUBSEGMENTNAME'].unique())


# one-hot the body type ['Sedan' 'SUV/Crossover']
new_cars['Sedan'] = new_cars['CONDITION GRADE']
new_cars['SUV'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['BODYTYPE'])):
  if new_cars['BODYTYPE'][i] == 'Sedan':
    new_cars['Sedan'][i] = 1
    new_cars['SUV'][i] = 0
  else:
    new_cars['Sedan'][i] = 0
    new_cars['SUV'][i] = 1


# Nomial encoding for the size of the car 

new_cars['CarSize'] = new_cars['CONDITION GRADE']
for i in range(len(new_cars['SEGMENTNAME'])):
  splited = new_cars['SEGMENTNAME'][i].split()
  if 'Light/Micro' in splited:
    new_cars['CarSize'][i] = 1
  elif 'Small' in splited:
    new_cars['CarSize'][i] = 2
  elif 'Medium' in splited:
    new_cars['CarSize'][i] = 3
  elif 'Large' in splited:
    new_cars['CarSize'][i] = 4
  else: #pickup
    new_cars['CarSize'][i] = 5 
    
#One-hot encoding of luxury, Economy, mind-range 

new_cars['Economic'] = new_cars['CONDITION GRADE']
new_cars['Mid-rang'] = new_cars['CONDITION GRADE']
new_cars['Luxury'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['SUBSEGMENTNAME'])):
  splited = new_cars['SUBSEGMENTNAME'][i].split()
  if 'Discount' in splited:
    new_cars['Economic'][i] = 1
    new_cars['Mid-rang'][i] = 0
    new_cars['Luxury'][i] = 0
  elif 'Luxury' in splited:
    new_cars['Economic'][i] = 0
    new_cars['Mid-rang'][i] = 0
    new_cars['Luxury'][i] = 1
  else:
    new_cars['Economic'][i] = 0
    new_cars['Mid-rang'][i] = 1
    new_cars['Luxury'][i] = 0

['Sedan' 'SUV/Crossover']
['Medium Car' 'Large Car' 'SUV Small' 'SUV Medium' 'SUV Large' 'Small Car'
 'SUV Upper Large' 'Upper Large Car' 'Light/Micro Car' 'Pickup']
['Luxury Medium Car' 'Luxury Large Car' 'Mid-Range SUV Small'
 'Mid-Range SUV Medium' 'Mid-Range SUV Large' 'Discount SUV Medium'
 'Discount Small Car' 'Discount SUV Large' 'Discount SUV Small'
 'Luxury SUV Small' 'Luxury SUV Large' 'Mid-Range Small Car'
 'Discount Medium Car' 'Luxury Small Car' 'Mid-Range SUV Upper Large'
 'Luxury SUV Medium' 'Luxury Upper Large Car' 'Discount Light/Micro Car'
 'Mid-Range Pickup' 'Luxury SUV Upper Large']

In [14]:
#Nomial Encoding of the ModelName
print(new_cars['MODEL NAME'].unique())  
# sorted mode name by their average MSRP 
sorted_model_name = ['Accent', 'Venue', 'Astra', 'EcoSport', 'Elantra', 'Trax', 'Kona',
       'Sonata', 'Focus', 'Juke', 'Qashqai', 'Tucson', 'Captiva', 'X-TRAIL',
       'Equinox', 'Escape', 'i40', 'GLA-Class', 'A3', 'Trailblazer',
       'Santa Fe', 'X1', 'X2', 'Acadia', 'A-Class', 'Pathfinder', 'A4',
       'Endura', 'Everest', 'GLC-Class', '3 Series', 'C-Class', 'Patrol', 'X4',
       'X3', 'GLC', 'GLE-Class', 'GLE', 'Q7', '5 Series', 'X5', 'GLS-Class',
       'E-Class', 'X6', 'X7', 'S-Class', '7 Series', 'G-class']

# let's assign valude(their index) to each model name 
dic_model = {}
for i, val in enumerate(sorted_model_name):
  dic_model[val] = i

new_cars['Model'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['MODEL NAME'])):
  new_cars['Model'][i] = dic_model[new_cars['MODEL NAME'][i]]

['A4' 'C-Class' '5 Series' 'Trax' 'Escape' 'Equinox' 'Captiva' 'Tucson'
 'Trailblazer' 'Elantra' 'X-TRAIL' 'Pathfinder' 'Everest' 'Santa Fe'
 'EcoSport' 'Kona' 'Venue' 'X1' 'X5' 'Qashqai' 'Acadia' 'Astra' 'Sonata'
 'A-Class' 'Juke' 'GLE' 'GLA-Class' 'Patrol' 'X2' 'GLC' 'X4' 'E-Class'
 '3 Series' 'S-Class' 'Endura' 'Q7' 'X3' 'GLE-Class' 'GLC-Class' 'Accent'
 'X6' 'i40' 'A3' '7 Series' 'Focus' 'X7' 'G-class' 'GLS-Class']

In [15]:
# Nomial Encoding of Brand Name  
# sorted brand name by their average MSRP 
sorted_brand_name = ['Holden', 'Hyundai', 'Nissan', 'Ford', 'Mercedes-Benz', 'BMW', 'Audi']

dic_brand = {}
for i, val in enumerate(sorted_brand_name):
  dic_brand[val] = i

new_cars['Brand'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['BRAND NAME'])):
  new_cars['Brand'][i] = dic_brand[new_cars['BRAND NAME'][i]]

# print(new_cars['BRAND NAME'].unique())
# a = new_cars.groupby(by = ['BRAND NAME']).mean()['MSRP']
# b= a.sort_values()
# c = b.index
# c

In [16]:
# Nomial encoding of Version Name 
# sorted version name by their average MSRP

sorted_version_name = ['1.6 GDi Sport Sedan Auto', '1.6 MPi Go', '2.0 MPi Go', '1.4 Turbo LS Sedan Auto', '1.6 MPi Go Auto', '1.6 MPi Active','1.4 Turbo LS+ Sedan Auto','1.5 Ambiente Auto',
 '1.2 ST', '2.0 MPi Go Auto','1.6 MPi Active Auto','1.8 LS', '1.0 EcoBoost Trend Auto', '2.0 MPi Go SmartSense Auto', '2.0 MPi Active Auto','1.6 MPi Elite Auto','1.4 Turbo LT Sedan Auto',
 '2.0 MPi Active Safety Pack Auto','1.4 Turbo LS Auto','1.6 T-GDi Go DCT 4WD', '2.0 MPi Active SmartSense Auto', '2.0 ST','1.5 Turbo LS', '1.6 T-GDi Active DCT 4WD','1.4 Turbo LT Auto',
 '1.0 EcoBoost Titanium Auto','2.0 ST CVT','2.0 MPi Elite Auto','1.6 T-GDi Active Safety Pack DCT 4WD','1.6 Ti-S','1.4 Turbo LTZ Sedan Auto','1.5 Turbo LS Auto','1.4 Turbo LTZ Auto',
 '1.5T Ecoboost Ambiente Auto','1.6 T-GDi Active SmartSense DCT 4WD','2.0 GDi Go Auto', '2.0 ST+ CVT','1.6 Ti-S Energy Orange','2.4 GDi Active Auto','1.6 T-GDi SR Turbo DCT','1.6 T-GDi Sport DCT',
 '1.6 T-GDi Sport Premium','2.0 GDi Active Auto', '2.5 ST CVT','2.0 GDi Active X','1.5 EcoBoost Titanium Auto','2.0 GDi Go SmartSense Auto','1.5 Turbo LS+ Auto','2.0 MPi Highlander Auto','2.5 ST CVT 4WD', '2.0 ST-L CVT','2.2 T/Diesel LS 7 Seater Auto 2WD',
'1.5T Ecoboost Trend Auto', '1.6 Ti-S AWD CVT','2.0 GDi Trophy Auto', '1.6 T-GDi Sport Premium DCT','2.0 GDi Active X Auto', '2.0 MPi Highlander Sunroof Auto','2.0 CRDi Active Auto 4WD',
 '2.0 CRDi Go Auto 4WD','1.6 Turbo Diesel LS+ Auto','2.0 Turbo Diesel TS 4WD CVT', '2.0 N-TEC CVT','2.0T Ecoboost Trend AWD Auto', '2.0 Turbo LT Auto','2.5 ST-L CVT',
 '3.0 LT 7 Seater Auto AWD','1.6 160kW NISMO RS','2.0 Ti CVT','2.0 GDi Elite Auto', '2.0 CRDi Go SmartSense Auto 4WD', '2.2 T/Diesel LT 7 Seater Auto AWD','2.5 N-TREK CVT','2.5 ST-L 7 Seat CVT',
 '2.0 TDCi Trend AWD Powershift','1.6 T-GDi Elite DCT 4WD','1.6 T-GDi Highlander Sunroof DCT 4WD','2.0 CRDi Active X Auto 4WD', '2.5 ST-L CVT 4WD','1.6 T-GDi Iron Man Edition DCT 4WD',
 '2.0 Turbo LTZ Auto','1.6 Turbo Diesel LT Auto','2.0T Ecoboost ST-Line AWD Auto', '2.5 N-TREK CVT 4WD','2.5 ST-L N-SPORT CVT 4WD','1.6 157kW NISMO RS 4x4 CVT','1.6 T-GDi Highlander DCT 4WD',
 '3.5 ST CVT','1.7 CRDi Premium DCT','2.0 CRDi Elite Auto 4WD','2.4 GDi Active Auto 4WD','3.5 MPi Active Auto','2.0 CRDi Elite w/SRF Auto 4WD','3.6 LT Auto','2.0 Turbo LTZ Auto AWD',
 '1.6 GLA 180 DCT', '2.2 CRDi Active 7 Seater Auto 4WD','2.0 TDCi Trend Auto','2.5 Ti CVT 4WD','3.5 ST+ CVT','2.0 GDi Turbo Premium Auto', '3.5 ST 4x4 CVT','2.0T Ecoboost Titanium AWD Auto',
 '1.5 sDrive18i xLine DCT','2.2 CRDi Active Auto 4WD','2.0 Turbo LTZ-V Auto AWD', '2.5 ST Hybrid CVT','1.3 A 180 DCT','1.6 Turbo Diesel LTZ Auto AWD','3.6 LT Auto AWD','2.0 Turbo Diesel TL 4WD CVT',
 '2.8 LT 4x4 Auto','2.0 TDCi Titanium AWD Powershift','2.0 CRDi Highlander Auto 4WD','1.5 sDrive18i DCT','2.0 TDCi Trend AWD Auto','3.2 TDCi Ambiente 5-Seat RWD Auto','1.6 Turbo Diesel LTZ-V Auto AWD',
 '2.0 sDrive18d xLine Steptronic', '2.0 40 TFSI S Line Plus S tronic','3.5 MPi Elite Auto','2.2 CRDi Elite 7 Seater Auto 4WD','1.5 sDrive18i M Sport X DCT','1.5 sDrive18i M Sport DCT',
'2.0 sDrive18d M Sport Steptronic', '2.8 LTZ 4x4 Auto','2.0 sDrive20i xLine DCT', '3.6 LTZ Auto','2.8 Z71 4x4 Auto','3.2 TDCi Trend 7-Seat RWD Auto','2.0 TDCi ST-Line Auto',
 '3.2 TDCi Ambiente 7-Seat 4WD Auto','2.2 CRDi Elite Auto 4WD', '3.2 TDCi Ambiente 5-Seat 4WD Auto','2.0 sDrive20i M Sport DCT','3.5 ST-L CVT','2.0 sDrive20i M Sport X DCT',
 '1.4 TFSI S tronic S line', '2.0 Bi-Turbo Trend 7-Seat RWD Auto','3.5 ST-L N-SPORT CVT','1.3 A 200 Edition 1 DCT','2.2 CRDi Highlander 7 Seater Auto 4WD','3.6 LTZ Auto AWD',
 '3.5 MPi Highlander Auto', '2.0 TDCi ST-Line AWD Auto','3.5 ST-L 4x4 CVT','3.2 TDCi Trend 7-Seat 4WD Auto','2.0 xDrive20d M Sport Auto','Electric Elite','2.2 CRDi Highlander Auto 4WD',
 '2.0 xDrive25i xLine Steptronic', '2.0 Bi-Turbo Trend 7-Seat 4WD Auto','2.5 ST-L Hybrid 4x4 CVT','2.0 GLA 250 4MATIC DCT','2.0 GLC 200 9G Tronic','3.5 Ti CVT','2.0 320i Sport Line Steptronic',
 '3.6 LTZ-V Auto','2.0 Bi-Turbo Sport 7-Seat 4WD Auto','2.0 TDCi Titanium Auto','1.5 C 200 9G Tronic','Electric Highlander','2.0 320d Sport Line Steptronic','2.0 C 220 d 9G Tronic',
 '3.5 Ti 4x4 CVT','3.6 LTZ-V Auto AWD','2.1 GLC 220 D 4MATIC 9G Tronic','2.0 TDCi Titanium AWD Auto','2.0 xDrive M35i Auto','2.0 xDrive20d xLine Steptronic','2.5 Ti Hybrid 4x4 CVT','2.0 320d M Sport Steptronic',
 '2.0 TFSI quattro S tronic S line','2.0 GLC 250 4MATIC 9G Tronic','2.0 sDrive20i M Sport Steptronic','2.0 C 300 9G Tronic','2.0 Bi-Turbo Titanium 7-Seat 4WD Auto','2.0 330i M Sport Steptronic',
 '2.1 GLC 250 D 4MATIC 9G Tronic','5.6 Ti Auto','3.2 TDCi Titanium 7-Seat 4WD Auto','2.0 xDrive20d M Sport Steptronic','2.0 xDrive30i xLine Steptronic','2.0 C 350 e 7G Tronic',
 '2.0 xDrive20i M Sport X Steptronic','2.0 xDrive20d Steptronic','2.0 C 300 e 9G Tronic','2.0 xDrive20d M Sport X Steptronic','2.0 xDrive30i M Sport Steptronic','2.0 GLC 300 Launch Edition 4M 9G Tronic',
 '2.0 Mercedes-AMG GLA 45 4MATIC DCT','3.0 GLC 350 D 4MATIC 9G Tronic','5.6 Ti-L Auto','3.0 xDrive35d M Sport Steptronic','2.0 E200 9G Tronic','2.1 GLE 250d 4MATIC 9G Tronic',
 '2.0 520d Luxury Line Steptronic','3.0 TDI 160kW quattro tiptronic', '2.0 520i M Sport Steptronic','2.0 sDrive25d M Sport Steptronic','2.0 xDrive25d Steptronic','2.0 GLE 300 d 4MATIC 9G Tronic',
 '3.0 M40i Steptronic','3.0 Mercedes-AMG GLC 43 4MATIC 9G Tronic','3.0 Mercedes-AMG C43 4MATIC 9G Tronic','3.0 xDrive30d M Sport Steptronic','3.0 TDI Quattro Tiptronic','E 300 9G Tronic','3.0 GLE 350d 4MATIC 9G Tronic',
 '3.0 GLE 450 4MATIC 9G Tronic','2.0 xDrive25d M Sport Steptronic','2.0 E 300 9G Tronic','2.0 530i M Sport Steptronic','3.0 xDrive30d Steptronic','3.0 GLS 350 d 4MATIC 9G-Tronic','3.0 xDrive40i M Sport Steptronic',
 '3.0 xDrive30d M Sport','3.0 xDrive30d','Coupe 3.0 GLE 350d 4MATIC 9G-Tronic','3.0 xDrive40d M Sport Steptronic','2.0 xDrive40e M Sport Steptronic','2.0 E 350 e 9G Tronic',
 '3.0 xDrive40d M Sport', '3.0 540i M Sport Steptronic', '4.4 xDrive50i M Sport Steptronic','E 450 4MATIC 9G Tronic','4.4 M50i Steptronic','4.4 xDrive50i M Sport',
 '4.0 Mercedes-AMG C 63 S Speedshift MCT','3.0 M Competition Steptronic','4.0 Mercedes-AMG GLC 63 S 4MATIC Auto','3.0 M50d Steptronic','2.9 S 350 d 9G Tronic',
 '3.0 730d M Sport Steptronic','4.4 M Competition','4.0 Mercedes-AMG E63 4MATIC+ Speedshift','5.5 Mercedes-Benz AMG G 63 7G Tronic']

dic_version = {}
for i, val in enumerate(sorted_version_name):
  dic_version[val] = i

new_cars['Version'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['VERSION NAME'])):
  new_cars['Version'][i] = dic_version[new_cars['VERSION NAME'][i]]

In [17]:
# Nomial encoding of SELLET STATE 
# sorted seller state by their average MSRP 
sorted_seller_state = ['QLD', 'SA', 'NSW', 'WA', 'VIC']

dic_state = {}
for i, val in enumerate(sorted_seller_state):
  dic_state[val] = i

new_cars['State'] = new_cars['CONDITION GRADE']

for i in range(len(new_cars['SELLER STATE'])):
  new_cars['State'][i] = dic_state[new_cars['SELLER STATE'][i]]

In [18]:
# converting datetime to 3 columns in year, month and day 
new_cars['Year'] = pd.DatetimeIndex(new_cars['SOLD DATE']).year
new_cars['Month'] = pd.DatetimeIndex(new_cars['SOLD DATE']).month
new_cars['Day'] = pd.DatetimeIndex(new_cars['SOLD DATE']).day

In [19]:
new_cars.head()

   ODOMETER (KM)  SOLD PRICE  SOLD DATE  ...  Year Month  Day
0          18489       40100 2020-06-19  ...  2020     6   19
1          18908       47000 2020-06-25  ...  2020     6   25
2          18913       64000 2020-09-17  ...  2020     9   17
3          19012       43500 2020-06-18  ...  2020     6   18
4          69652       14250 2020-05-28  ...  2020     5   28

[5 rows x 48 columns]

In [20]:
new_cars.columns

Index(['ODOMETER (KM)', 'SOLD PRICE', 'SOLD DATE', 'CONDITION GRADE',
       'SELLER STATE', 'MODEL YEAR', 'BRAND NAME', 'MODEL NAME',
       'VERSION NAME', 'SEGMENTNAME', 'SUBSEGMENTNAME', 'BODYTYPE', 'ENGINE',
       'MSRP', 'WEIGHT', 'COUNTRYOFORIGIN_ADJ', 'FUEL', 'DRIVETRAIN',
       'AllWheel', 'FrontWheel', 'Petrol', 'Diesel', 'Country', 'ENGINE SIZE',
       'ENGINE FORM', 'ENGINE Type', 'ENGINE NUMBER', 'ENGINE CLASS',
       'In-Line', 'V-Shape', 'Turbo', 'Supercharger', 'regular', 'Premium',
       'Cylinders', 'Sedan', 'SUV', 'CarSize', 'Economic', 'Mid-rang',
       'Luxury', 'Model', 'Brand', 'Version', 'State', 'Year', 'Month', 'Day'],
      dtype='object')

In [21]:
# remove electric car data 
print(len(new_cars))
new_cars = new_cars[new_cars['FUEL'] != 'Electric/Hybrid']
print(len(new_cars))

11135
11123

In [22]:
# removing date after 2020-05
new_cars = new_cars[new_cars['SOLD DATE'] <= '2021-05-31']
new_cars = new_cars.sort_values('SOLD DATE')
new_cars.tail()

      ODOMETER (KM)  SOLD PRICE  SOLD DATE  ...  Year Month  Day
2305           3027       27000 2021-04-01  ...  2021     4    1
6403           3559       27000 2021-04-01  ...  2021     4    1
6947           5257       33000 2021-04-01  ...  2021     4    1
86            10501       75000 2021-04-02  ...  2021     4    2
9             69989       13000 2021-05-26  ...  2021     5   26

[5 rows x 48 columns]

In [23]:
proccessed_data = new_cars[['ODOMETER (KM)', 'SOLD PRICE', 'SOLD DATE', 'CONDITION GRADE', 'MSRP', 'WEIGHT', 'AllWheel', 'FrontWheel','Petrol', 'Diesel', 'Country', 
                            'ENGINE SIZE','In-Line', 'V-Shape', 'Turbo', 'Supercharger', 'regular', 'Premium','Cylinders', 'Sedan', 'SUV', 'CarSize', 'Economic', 'Mid-rang',
                            'Luxury', 'Model', 'Brand', 'Version', 'State', 'Year', 'Month', 'Day']]

proccessed_data.describe()

       ODOMETER (KM)     SOLD PRICE  ...         Month           Day
count   11122.000000   11122.000000  ...  11122.000000  11122.000000
mean    18225.875562   34638.619403  ...      6.526434     16.381586
std     22463.819337   17340.396474  ...      3.307146      8.362647
min       501.000000     300.000000  ...      1.000000      1.000000
25%      6176.000000   23250.000000  ...      4.000000      9.000000
50%      8767.000000   30800.000000  ...      6.000000     17.000000
75%     16613.250000   43000.000000  ...      9.000000     23.000000
max    143563.000000  530000.000000  ...     12.000000     31.000000

[8 rows x 30 columns]

In [24]:
# moving the sold price to the first column
proccessed_data = proccessed_data[['SOLD PRICE', 'ODOMETER (KM)','SOLD DATE', 'CONDITION GRADE', 'MSRP',
       'WEIGHT', 'AllWheel', 'FrontWheel', 'Petrol', 'Diesel', 'Country',
       'ENGINE SIZE', 'In-Line', 'V-Shape', 'Turbo', 'Supercharger', 'regular',
       'Premium', 'Cylinders', 'Sedan', 'SUV', 'CarSize', 'Economic',
       'Mid-rang', 'Luxury', 'Model', 'Brand', 'Version', 'State', 'Year', 'Month', 'Day']]

# proccessed_data = proccessed_data.set_index('SOLD DATE')

In [25]:
proccessed_data.head()

      SOLD PRICE  ODOMETER (KM)  SOLD DATE  ...  Year  Month  Day
9833       26400           3970 2018-05-29  ...  2018      5   29
6555       39100           2213 2018-06-29  ...  2018      6   29
2670       39100           1874 2018-06-29  ...  2018      6   29
5622       27100           6942 2018-06-29  ...  2018      6   29
6559       25000           2220 2018-07-12  ...  2018      7   12

[5 rows x 32 columns]

In [26]:
proccessed_data.to_csv('/content/drive/MyDrive/Job Interview /Companies/Cox/proccessed_data.csv')